#Ignore frontend node modules
/frontend/node_modules/




#Ignore development python .venv files
/backend/lambdas/bedrock_lambda/.venv
/backend/lambdas/database_management_lambda/.venv
/backend/.venv

#Ignore IAC typeScript files
/backend/*.js
/backend/!jest.config.js
/backend/*.d.ts
/backend/node_modules

# CDK asset staging directory
/.cdk.staging
/backend/cdk.out


# Ignore the tucson-pd-backend files
/tucson-pd-backend/.venv

# Ignore the tucson-pd-frontend files
/tucson-pd-frontend/.venv
/tucson-pd-frontend/build.zip
/tucson-pd-frontend/frontend/node_modules
/tucson-pd-frontend/frontend/dist

